* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #bddfff;
    color: #000;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo a {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: large;
    color: blue;
}

.logo span {
    color: coral;
}

.logo img {
    height: 30px;
    margin: 10px 0;
}

.navbar .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 10px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    width: 400px;
    padding: 5px;
}

.search button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-nav a {
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    font-size: 12px;
}

h2 {
    color: #ff7f50;
    font-size: medium;
    padding: 20px;
}

h2 span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}

/* Konten */
.konten {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: 60px auto;
    max-width: 900px;
}

/* Update */
.konten-update {
    width: 100%;
}

.list-update {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.comic-items {
    position: relative;
}

.comic-items .cover-container img {
    width: 100%;
}

.konten-update .comic-items .tittle {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.konten-update .judul {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
    color: #000;
    width: 60%;
    text-decoration: none;
}

.comic-items .tag {
    margin-top: -20px;
    float: right;
    font-size: small;
    background-color: coral;
    color: #fff;
    padding: 3px 6px;
}

.tittle .update {
    font-size: small;
    font-style: italic;
    color: #a1a1a1;
}

/* Views */
.top-views {
    margin: 20px 0;
}

.top-views .list-views {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.list-views .comic-views a {
    display: flex;
}

.comic-views .gambar {
    position: relative;
    width: 80%;
}

.comic-views .gambar img {
    width: 100%;
}

.gambar .views,
.daftar-komik .views {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 2px 10px;
    font-size: small;
    border-radius: 5px;
}

.views ion-icon {
    font-size: medium;
    margin-right: 5px;
}

.comic-views .informasi {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 200px;
}

.informasi p {
    font-size: small;
    text-decoration: none;
}

.informasi .judul {
    font-weight: 500;
    font-size: medium;
    color: #000;
    margin-top: 10px;
}

.informasi .genre,
.informasi .update {
    color: #999;
    font-style: italic;
    margin-top: 10px;
}

/* DAFTAR KOMIK */
.list-judul {
    padding: 20px;
}

.daftar-komik {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.daftar-komik .tittle {
    font-weight: 500;
    line-height: 1;
    white-space: normal;
    text-align: center;
    overflow: hidden;
    color: #000;
    overflow-wrap: break-word;
}

/* PAGE FAVORIT */
.tab-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab {
    display: flex;
}

.tab-btn {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    outline: none;
}

.tab-btn.active {
    background-color: #ddd;
}

.tab-content {
    width: 100%;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}


@media screen and (min-width: 1025px) {
    .navbar .navbar-nav a ion-icon {
        display: none;
    }

    .navbar-nav .active {
        font-weight: bold;
        color: coral;
        border-bottom: 2px solid coral;
        height: 30px;
        padding-bottom: 10px;
    }

    .navbar .navbar-nav a:hover {
        content: '';
        display: block;
        border-bottom: 2px solid coral;
        padding-bottom: 10px;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 1024px) {

    /* Navbar */
    .navbar .logo a {
        display: flex;
        font-weight: 600;
        align-items: center;
        font-size: large;
        color: blue;
    }

    .logo span {
        color: coral;
    }

    .logo img {
        height: 30px;
        margin: 10px 0;
    }

    .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: blue;
        height: 50px;
    }

    .navbar .navbar-nav a {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin: 0 auto;
        font-size: 10px;
        text-decoration: none;
    }

    .navbar .navbar-nav ion-icon {
        display: flex;
        font-size: 22px;
    }

    .navbar .search {
        justify-content: right;
    }

    .navbar .search input[type="text"] {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {

    /* NAVBAR */
    .navbar .logo p {
        display: none;
    }

    .navbar .search input[type="text"] {
        width: 200px;
    }

    h2 {
        padding: 20px 10px;
    }

    /* UPDATE */
    .konten-update .list-update {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 10px;
    }

    .comic-items .tag {
        position: relative;
    }

    /* TOP-VIEWS */
    .top-views .list-views {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 10px;
    }

    .comic-views .gambar {
        width: 35%;
    }

    /* DAFTAR KOMIK */
    .list-judul {
        padding: 10px;
    }

    .daftar-komik {
        grid-template-columns: repeat(2, 1fr);
    }
}